.app {
	display: flex;
	height: 100vh;

	background: #0f1115;


	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/*
	max-width: 1200px;
	max-height: auto;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
	border-radius: 16px;
 */
}

body {
  margin: 0;
  background-color: #212127;
}

.chat-area {
	flex: 1;
	display: flex;
	justify-content: center; 
	padding-top: 24px;
	padding-bottom: 24px;
}