.app {
	display: flex;

	width: 1200px;
	height: 100vh;

	background: #f5f6fa;


	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	max-width: 1200xp;
	max-height: auto;
	margin: auto;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
	border-radius: 16px;

}

body {
  margin: 0;
  background-color: #212127;

  display: flex;
  justify-content: center;
  align-items: center;
}
