.chat {

	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;


	background: #181a1f;
	border-radius: 16px;
	box-shadow: 0 20px 60px #00000073;
}

.messages {
	flex: 1;
	padding: 20px;
	overflow-y: auto;
}