.chat {

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;


	max-width: 1000px;

  background: transparent;
}

/*
.app.light .chat {
	background: #ffffff;
	color: #000;
}

.app.dark .chat {
	background: #181a1f;
	color: #eaeaea;
}
*/
.messages {
	flex: 1;
	padding: 20px;
	overflow-y: auto;

	scrollbar-width: thin;
	scrollbar-color: rgba(180, 185, 195, 0.6) transparent;
}