.chat {
	flex: 1;
	display: flex;
	flex-direction: column;

	width: 100%;
	max-width: 1000px;
	

  background: transparent;
}


.chat-area {
	background: transparent;
}


.app.dark .chat {
  background: transparent;
  border-radius: 16px;
}