.empty-state {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	text-align: center;
	gap: 24px;

	transform: translateX(-52px);
}

.empty-title {
	font-size: 28px;
	font-weight: 500;
	opacity: 0.9;
	color: rebeccapurple;
}

.empty-input {
	width: 100%;
	max-width: 600px;
}