.app-footer {
	position: fixed;
	bottom: 10px;
	left: 260px;
	right: 0;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 32px;

	font-size: 12px;
	z-index: 10;
}


.footer-links {
	display: flex;
	gap: 12px;
}

.footer-link {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.footer-link:hover {
	text-decoration: underline;
}